.logo-feriados-navbar-xs {
    width: 2.4rem;
    height: 1.8rem;
}

.logo-feriados-navbar-lx {
    width: 4rem;
    height: 3.4rem;
}

.bg-blue-dark {
    background-color: #004a8b;
}

.bg-blue-light {
    background-color: #2f8ada;
}
